.cards-container
    display: flex
    flex-direction: column
    align-items: center
    //width: 100%

.totalBudget
    display: flex
    justify-content: center
    font-size: 1.5rem

.options-box
    display: flex
    flex-wrap: wrap
    flex-direction: column
    padding: 10px
    align-content: center

    .separator
        border-top: 2px dashed #989898
        margin-bottom: 20px

    .budgetBox
        display: flex
        flex-direction: column
        justify-content: center
        margin-top: 20px
        flex-wrap: wrap
        border: 1px solid #ccc
        border-radius: 10px
        box-shadow: 5px 5px 10px 5px rgba(179, 179, 179, 0.5)
        padding: 20px

        .budgetForm
            display: flex
            align-content: center

            .budgetInputs
                display: flex
                flex-wrap: wrap
                align-items: flex-start

                .formItems
                    width: 150px
                    height: 25px
                    margin-right: 20px
                    padding: 5px
                    border-color: grey
                    border-radius: 5px

                .error-input
                    border-color: red

                .valid-input
                    border-color: green

                .inputError
                    color: red
                    margin-top: 10px
                    margin-bottom: 10px

                .submitBudget
                    width: 164px
                    height: 39px
                    padding: 5px
                    border-color: grey
                    border-radius: 5px
