<div class="card">
    <div class="card-services">
        <div class="card-info">
            <h3>{{ servicesOffered.title }}</h3>
            <p>{{ servicesOffered.description }}</p>
        </div>
        <div class="price-checkbox">
            <div class="card-price">
                <p>{{ servicesOffered.price }}€</p>
            </div>
        </div>
        <div class="card-checkbox">
            <label>
                <input id="checkbox" type="checkbox" [(ngModel)]="showOptions" (click)="toggleOptions()" />
                Afegir
            </label>
        </div>
    </div>

   
    <div *ngIf="showOptions" class="options-box">

         <!-- Blucle por cada extra. -->
        <div *ngFor="let option of servicesOffered.options" class="options-info">
          {{ option.extra }}
          <div class="input-buttons">
            <button class="buttons" (click)="decrementOption(option)">-</button>
            <input type="number" class="input-number" [(ngModel)]="optionNumbers[option.extra]" />
            <button class="buttons" (click)="incrementOption(option)">+</button>
          </div>
        </div>

      </div>

</div>

