<div class="card">
    <div class="card-services">
        <div class="card-info">
            <h3>{{ data.title }}</h3>
            <p>{{ data.description }}</p>
        </div>
        <div class="price-checkbox">
            <div class="card-price">
                <p>{{ data.price }}€</p>
            </div>
        </div>
        <div class="card-checkbox">
            <label>
                <input type="checkbox" [(ngModel)]="showOptions" ((click))="toggleOptions()" />
                Afegir
            </label>
        </div>
    </div>
    <div *ngIf="showOptions" class="options-box">
        <div class="pages options-info">
            Quantitat de pagines:
            <div class="input-buttons">
                <button class="buttons" (click)="decrementPage()">-</button>
                <input type="number" class="input-number" [(ngModel)]="pagesNumber" />
                <button class="buttons" (click)="incrementPage()">+</button>
            </div>

        </div>
        <div class="languages options-info">
            Quantitat de idiomes:
            <div class="input-buttons">
                <button class="buttons" (click)="decrementLanguage()">-</button>
                <input type="number" class="input-number" [(ngModel)]="languageNumber" />
                <button class="buttons" (click)="incrementLanguage()">+</button>
            </div>
        </div>
    </div>
</div>