<div *ngIf="submittedBudgets.length > 0">
    <div class="separator"></div>

    <div class="busdgetsOrder">
        <div class="pressupostosEnCurs">
            <h3>Pressupostos en Curs:</h3>
        </div>
        <div class="orderOptions">
            <div *ngIf="submittedBudgets.length > 1">

                <div class="clasificators">
                    <div class="search orderInput">
                        <input type="text" [(ngModel)]="searchTerm" placeholder="Buscar por nombre" class="nameInput">
                    </div>
                    <div class="date orderInput">
                        <button (click)="toggleSortOrderByDate()" class="orderButton">Data {{ ascendingOrderByDate ? '↑'
                            : '↓' }}</button>
                    </div>
                    <div class="budget orderInput">
                        <button (click)="toggleSortOrderPrice()" class="orderButton">Import {{ ascendingOrder ? '↑' :
                            '↓' }}</button>
                    </div>
                    <div class="name orderInput">
                        <button (click)="toggleSortOrderByName()" class="orderButton">Nom {{ ascendingOrderByName ? '↑'
                            : '↓' }}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngFor="let budget of searchByName()">
    <div class="budgetsList">
        <div class="budgetRequestContainer">
            <div class="infoRequest">
                <div class="contactInfo">Informacio Contacte</div>

                <div class="nameRequest">
                    {{ budget.Nom }}
                </div>
                <div class="emailRequest">
                    {{ budget.Email }}
                </div>
                <div class="telefonRequest">
                    {{ budget.Telefon }}
                </div>
            </div>
            <div class="servicesRequest">
                <div class="servicesText">Serveis Contractats</div>
                <div *ngFor="let service of budget.servicesOffered" class="servicesInfo">
                    <div class="serviceRequest">
                        <div class="serviceTitle">
                            {{ service.title }}
                        </div>
                        <!-- Recorre las opciones dentro del mismo *ngFor -->
                        <div *ngFor="let options of service.options">
                            <div *ngIf="options.quantity > 0">
                                <div class="optionsRequest">
                                    {{ options.extra }} = {{ options.quantity }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
            <div class="priceRequest">
                <div class="totalRequest">Total</div>
                <div class="priceRequest">{{ budget.price }} </div>
            </div>

        </div>
    </div>
</div>